#  Crash course in Python

Python is a high-level interpreted and object oriented programming language very popular in all shorts of data science applications

Let's start first by checking which python version we have

In [12]:
!python -V

Python 3.11.5

It's short of tradition that the very first line of code one writes in a new programming language includes the following

In [1]:
print('Hello World!')

Hello World!

Under Jupyter environment we can omit the `print` function

In [2]:
"Hello World!"

'Hello World!'

The following will result in an error

In [4]:
"Hello World!'

SyntaxError: EOL while scanning string literal (3155307703.py, line 1)

### Comments

No matter which programming language we use, it is always the best practice to include comments

In [5]:
# This is a comment

In [8]:
print("Python is fun") # a simple example of the print command

Python is fun

In [5]:
# In general comments should be short and to the point.

### Python as an enhanced calculator

We can use python simply as a calculator

In [9]:
5 + 5 # addition

10

In [10]:
10 - 7 # subtraction

3

In [11]:
12/4 # division

3.0

In [12]:
5 * 6 # multiplication

30

In [13]:
4**2 # power of a number

16

In [14]:
11 % 2 # modulo

1

The following will give an error

In [14]:
1 % 0

ZeroDivisionError: integer modulo by zero

For more complex arithmetic operations we can use parenthesis

In [16]:
(3 + 4) * 3

21

At times we might need to convert numbers to strings or vice versa

In [17]:
print('This is the number ' + 3)

TypeError: can only concatenate str (not "int") to str

In [18]:
print('This is the number ' + str(3))

This is the number 3

In [19]:
'3' * 3

'333'

In [20]:
int('3') * 3

9

In [21]:
int('a') + 3

ValueError: invalid literal for int() with base 10: 'a'

## Variables

Variables in Python are names attached to an object. Follows a form similar to an equation with the `=` symbol separating the variable name which is on the left hand side and the object it points to that is located on the right hand side.

It's important to use intuitive and readable names

In [22]:
x = 120

In [23]:
x

120

In [24]:
y = 30

In [25]:
y + x

150

Of course the names I am using above are not intuitive.

In [26]:
#For example if the above was let's say weight it would make more sense to use 
weight = 120

We can also assign the above to a new variable

In [27]:
new_weight = weight

In [28]:
new_weight

120

Pay attention to the fact that Python is case sensitive.

In [29]:
neW_weight

NameError: name 'neW_weight' is not defined

## Python types

 * `int` : integers
 * `float` : floating point numbers
 * `str` : strings
 * `bool` : booleans. Value can be either `True` or `False`

In [30]:
type(x)

int

In [31]:
z = 12.5
type(z)

float

In [1]:
my_name = "christos"
type(my_name)

str

We can use either `''` or `""` to define strings. In case we want a string spanning across lines we can use either `'''` or `"""`.

Python offers us a wide variety of built-in functions for working with strings

In [33]:
dir(my_name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [34]:
my_name.upper()

'CHRISTOS'

In [35]:
my_name.title()

'Christos'

We can slice strings

In [37]:
my_name[0:3]

'chr'

It is important to remember that strings are immutable. This means you cannot change them after creation. The following will give an error

In [38]:
my_name[0] = 'x'

TypeError: 'str' object does not support item assignment

In [42]:
bool_data = True
type(bool_data) # the value can be either True or False

bool

Comparators

* `>` greater than
* `<` less than
* `>=`  greater or equal to
* `<=` less or equal to
* `!=` not equal to
* `==` equal to

In [43]:
print(3 > 1)

True

In [44]:
print(1==2)

False

In [45]:
1 != 2

True

Boolean operators

* `and`
* `or`
* `not`

In [31]:
True and True

True

In [46]:
True and False

False

In [47]:
True or False

True

In [48]:
not True

False

In [49]:
not (True and False)

True

In [35]:
True and False or True

True

We can perform various types of operations depending on the data type

In [50]:
x + z

132.5

In [51]:
my_name + ' says hi'

'christos says hi'

In [52]:
bool_data + x # In this case True is 1. When the value of a boolean is False in arithmetic operations it's considered as zero

121

In [53]:
my_name + x

TypeError: can only concatenate str (not "int") to str

In [54]:
my_name + str(x)

'christos120'

Another common way to join strings is using the `join` function

In [55]:
"_".join([my_name,"120"])

'christos_120'

We can check for the existence of a substring

In [2]:
"Ch" in my_name

False

Pay attention to the fact that Python is case sensitive

In [3]:
"ch" in my_name

True

The following is useful to know in cases when it doesn't matter whether the string is in upper or lower case.

In [4]:
"ch" in my_name.lower()

True

We can also get the position where the substring is found.

In [7]:
my_name

'christos'

In [6]:
my_name.index("ch")

0

If the substring is not found we get an error.

In [8]:
my_name.index("joe")

ValueError: substring not found

Similarly we can use `find`

In [10]:
my_name.find("ch")

0

However there is a difference when the substring is not found.

In [11]:
my_name.find("joe")

-1

## Keywords in Python

Those have special functions. Trying to use them to name a variable will result in an error message.

In [56]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [57]:
help("continue")

The "continue" statement
************************

   continue_stmt ::= "continue"

"continue" may only occur syntactically nested in a "for" or "while"
loop, but not nested in a function or class definition within that
loop.  It continues with the next cycle of the nearest enclosing loop.

When "continue" passes control out of a "try" statement with a
"finally" clause, that "finally" clause is executed before really
starting the next loop cycle.

Related help topics: while, for

## Main data structures in Python

### Lists

When dealing with several data that are somehow related it would be particularly cumbersome to assign separate variable names to each data point.

In [48]:
weight1 = 12.5
weight2 = 15
weight3 = 23
weight4 = 45
weight5 = 9.9

Instead we can use a list

In [21]:
weights = [12.5, 15, 23, 45, 9.9]
weights

[12.5, 15, 23, 45, 9.9]

In [22]:
weights = list([12.5, 15, 23, 45, 9.9])

In [59]:
type(weights)

list

In [60]:
len(weights)

5

Below we can see how to select specific elements of a list. Remember that Python is zero indexed

In [61]:
weights[0]

12.5

In [62]:
weights[4]

9.9

In [63]:
weights[5]

IndexError: list index out of range

In [64]:
weights[-1]

9.9

In [65]:
weights[0:3]

[12.5, 15, 23]

In [66]:
weights[:3]

[12.5, 15, 23]

In [67]:
weights[-3:]

[23, 45, 9.9]

We can change if needed the values of particular elements in a list

In [68]:
weights[4] = 10
weights

[12.5, 15, 23, 45, 10]

We can remove or add elements in a list

In [69]:
del weights[4]
weights

[12.5, 15, 23, 45]

In [70]:
weights + [10, 55]

[12.5, 15, 23, 45, 10, 55]

In [71]:
weights_new = weights + [10, 55]
weights_new

[12.5, 15, 23, 45, 10, 55]

In [72]:
weights_prior = weights

In [73]:
weights

[12.5, 15, 23, 45]

In [74]:
weights_prior

[12.5, 15, 23, 45]

the code below can resulty to difficult to solve bugs

In [75]:
weights_prior[3] = 27
weights_prior

[12.5, 15, 23, 27]

In [76]:
weights

[12.5, 15, 23, 27]

Instead we have the option of making a so-called "deep" copy

In [77]:
weights_copy = weights.copy()
weights_copy

[12.5, 15, 23, 27]

In [78]:
weights_copy[3] = 30
weights_copy

[12.5, 15, 23, 30]

In [79]:
weights

[12.5, 15, 23, 27]

When working with numbers we can create a list with the desired number range using the function `range`

In [81]:
range(0,10)

range(0, 10)

In [82]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Dictionaries

Key - value pairs

In [83]:
my_dict = {'short':15, 'medium':20, 'tall':30}
my_dict

{'short': 15, 'medium': 20, 'tall': 30}

In [84]:
my_dict['short']

15

In [85]:
len(my_dict)

3

In [86]:
my_dict.keys()

dict_keys(['short', 'medium', 'tall'])

In [87]:
my_dict.values()

dict_values([15, 20, 30])

In [88]:
my_dict.items()

dict_items([('short', 15), ('medium', 20), ('tall', 30)])

We can check whether a particular key or value exists

In [89]:
'short' in my_dict

True

In [90]:
15 in my_dict.values()

True

It is easy to change the values of a specific key or add new ones

In [91]:
my_dict.update({'medium':25, 'very_tall':50})
my_dict

{'short': 15, 'medium': 25, 'tall': 30, 'very_tall': 50}

Below we see what happens when try to use a key that doesn't exist

In [92]:
my_dict['not_so_tall']

KeyError: 'not_so_tall'

The following structure can be particularly helpful

In [93]:
my_dict.get('not_so_tall','Not found')

'Not found'

### Sets

* Unique values
* Unordered
* Mutable
* Set functions from mathematics

In [94]:
my_colors = set(['blue', 'green', 'red', 'purple', 'black', 'white', 'brown'])
my_colors

{'black', 'blue', 'brown', 'green', 'purple', 'red', 'white'}

In [95]:
type(my_colors)

set

we can add single elements using the `add` function

In [96]:
my_colors.add('orange')
my_colors

{'black', 'blue', 'brown', 'green', 'orange', 'purple', 'red', 'white'}

In [97]:
my_colors.add('blue')
my_colors

{'black', 'blue', 'brown', 'green', 'orange', 'purple', 'red', 'white'}

if we want to add more than one element we use the update function

In [98]:
my_colors.update(['dark_blue','light_blue'])
my_colors

{'black',
 'blue',
 'brown',
 'dark_blue',
 'green',
 'light_blue',
 'orange',
 'purple',
 'red',
 'white'}

to remove elements from a set we use the `discard` function

In [99]:
my_colors.discard('light_blue')
my_colors

{'black',
 'blue',
 'brown',
 'dark_blue',
 'green',
 'orange',
 'purple',
 'red',
 'white'}

We can perform operations amongst sets following the same rules as in mathematics

In [100]:
other_colors = set(['black','pink', 'turquoise', 'dark_blue'])

In [101]:
my_colors | other_colors # union

{'black',
 'blue',
 'brown',
 'dark_blue',
 'green',
 'orange',
 'pink',
 'purple',
 'red',
 'turquoise',
 'white'}

In [102]:
my_colors & other_colors # intersection

{'black', 'dark_blue'}

In [103]:
my_colors - other_colors # difference

{'blue', 'brown', 'green', 'orange', 'purple', 'red', 'white'}

We can aslo use methods to accomplish the above. To return all the values of the two sets we use the `union` method

In [104]:
my_colors.union(other_colors)

{'black',
 'blue',
 'brown',
 'dark_blue',
 'green',
 'orange',
 'pink',
 'purple',
 'red',
 'turquoise',
 'white'}

To find the common values we use the `intersection` method

In [105]:
my_colors.intersection(other_colors)

{'black', 'dark_blue'}

To find values present only in one set we use the `difference` method. Pay attention to the order

In [106]:
my_colors.difference(other_colors)

{'blue', 'brown', 'green', 'orange', 'purple', 'red', 'white'}

In [148]:
other_colors.difference(my_colors)

{'pink', 'turquoise'}

### Tuples

Similar to lists, but immutable

In [107]:
my_tuple = ('white','pink', 'turquoise', 'dark_blue','white')
my_tuple

('white', 'pink', 'turquoise', 'dark_blue', 'white')

In [108]:
my_tuple[0]

'white'

In [109]:
my_tuple[0] = 'green'

TypeError: 'tuple' object does not support item assignment

The following built-in methods can be of value

In [110]:
my_tuple.count('white')

2

In [111]:
my_tuple.index('pink')

1

## Functions

Allow for reproducible and efficient code. We have already used functions e.g. `type`. Several built-in functions.

In [112]:
weights

[12.5, 15, 23, 27]

In [113]:
max(weights)

27

In [114]:
min(weights)

12.5

In [115]:
round(12.6)

13

Below some unexpected behaviour

In [3]:
round(2.5)

2

In [4]:
round(3.5)

4

In [116]:
round?

In [159]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In python you will most certainly encounter the term `method` it practically refers to functions that belong to objects

In [117]:
weights.index(12.5)

0

In [161]:
weights.append(100)
weights

[12.5, 15, 23, 27, 100]

In [162]:
my_name

'christos'

In [163]:
my_name.capitalize()

'Christos'

In [164]:
my_name.upper()

'CHRISTOS'

We can chain methods one after another

In [165]:
my_name.upper().lower()

'christos'

We can define our own functions using the `def` keyword

In [118]:
def greetings(name, surname):
    print('Hi',name, surname)

In [119]:
greetings('Christos', 'Palaikostas')

Hi Christos Palaikostas

Functions can have default values

In [120]:
def greetings(name, surname, status=True):
    if status:
        print('Hi',name, surname, 'welcome')
    else:
        print('Sorry we are closed')

In [121]:
greetings('Christos', 'Palaikostas')

Hi Christos Palaikostas welcome

In [122]:
greetings('Christos', 'Palaikostas', status=False)

Sorry we are closed

### In connection to strings the functions below can be of particular value.

Being able to work with strings is a most common and valuable skill

In [123]:
name = 'Christos'
job = 'researcher'
'My name is {0} and I am a {1} at SLU'.format(name, job)

'My name is Christos and I am a researcher at SLU'

In [124]:
f"My name is {name} and I am a {job} at SLU"

'My name is Christos and I am a researcher at SLU'

### Higher-order functions

Functions that accept other functions as arguments or return functions or both

* filter
* map
* reduce

Let's start with `filter`. It's highest advantage lies on the fact that it is written in `C` and it is highly optimized.

The pattern is `filter(function, iterable)`

In [125]:
numbers = [1,12, 4, -3, 2, 7, 9, 25,-24,13, -1, 40, 100]

def positive_num(x):
    return x > 0

In [126]:
list(filter(positive_num, numbers))

[1, 12, 4, 2, 7, 9, 25, 13, 40, 100]

In [127]:
def is_even(x):
    return x %2 == 0

In [128]:
list(filter(is_even,numbers))

[12, 4, 2, -24, 40, 100]

The package itertools offers the `filterfalse` function that does the opposite

In [129]:
from itertools import filterfalse

list(filterfalse(is_even, numbers))

[1, -3, 7, 9, 25, 13, -1]

Below we see a simple example of the `map` function

In [130]:
list(map(abs, numbers))

[1, 12, 4, 3, 2, 7, 9, 25, 24, 13, 1, 40, 100]

In [131]:
def square_num(x):
    return x**2

In [132]:
list(map(square_num, numbers))

[1, 144, 16, 9, 4, 49, 81, 625, 576, 169, 1, 1600, 10000]

We can use map with more than one iterable

In [133]:
list_1 = [2,3,4,5]
list_2 = [2,2,3,4]

list(map(pow, list_1, list_2))

[4, 9, 64, 625]

The last higher order function we will examine is `reduce`

In [134]:
from functools import reduce

def add_num(x,y):
    return x+y

In [135]:
reduce(add_num, numbers)

185

In [136]:
def my_max(x,y):
    return x if x > y else y

In [137]:
reduce(my_max, numbers)

100

We can also combine the above functions

In [184]:
list(map(square_num, filter(is_even, numbers)))

[144, 16, 4, 576, 1600, 10000]

In cases when we need a function that performs a simple operation it could be prefererable to use the so-called `lambda` fuction. We will use several implementations in `Pandas`

In [138]:
lambda x: x.upper()

In [139]:
(lambda x: x.upper())('Welcome')

'WELCOME'

lambda functions are single expressions though they can span for multiple lines

In [16]:
(lambda x: 
 x % 2 and 'odd' or 'even')(2)

'even'

In [141]:
(lambda x,y,z: x+y+z)(1,2,3)

6

Having functions that are able to handle variable number of arguments can offer great flexibility in our applications

In [143]:
(lambda *args: sum(args))(1,2,3,4,5,6)

21

In [144]:
(lambda **kwargs: sum(kwargs.values()))(a=1,b=2,c=3)

6

Lambda functions are usually encountered in applications with higher-order functions like `map` and `filter`

In [145]:
colours = ['blue','white','black','brown','red','green']
list(map(lambda x: x.upper(), colours))

['BLUE', 'WHITE', 'BLACK', 'BROWN', 'RED', 'GREEN']

In [146]:
list(filter(lambda x: 'b' not in x, colours))

['white', 'red', 'green']

## Control flow

In [147]:
grade = 9
if grade > 8:
    print('Grade job')
else:
    print('You will do it next time')

Grade job

We can have multiple if statements

In [148]:
grade=9
if grade >= 8:
    print('Fantastic job')
elif grade >= 6 and grade < 8:
    print('Good job')
elif grade < 6 and grade >= 5:
    print('You passed')
else:
    print('Better luck next time')

Fantastic job

## Loops

Allows the efficient computation of a repeated process

When we know in advance the required number of iterations it is usually best to use a `for` loop

In [149]:
for i in range(10):
    print('Computing 2 in the power of ', i, ': ',2**i)

Computing 2 in the power of  0 :  1
Computing 2 in the power of  1 :  2
Computing 2 in the power of  2 :  4
Computing 2 in the power of  3 :  8
Computing 2 in the power of  4 :  16
Computing 2 in the power of  5 :  32
Computing 2 in the power of  6 :  64
Computing 2 in the power of  7 :  128
Computing 2 in the power of  8 :  256
Computing 2 in the power of  9 :  512

We can skip a value using the `continue` keyword

In [150]:
for i in range(10):
    if i == 2:
        continue
    print('Computing 2 in the power of ', i, ': ',2**i)

Computing 2 in the power of  0 :  1
Computing 2 in the power of  1 :  2
Computing 2 in the power of  3 :  8
Computing 2 in the power of  4 :  16
Computing 2 in the power of  5 :  32
Computing 2 in the power of  6 :  64
Computing 2 in the power of  7 :  128
Computing 2 in the power of  8 :  256
Computing 2 in the power of  9 :  512

We can exit the loop if a special condition is met using the `break` keyword

In [151]:
for i in range(10):
    if 2**i > 500:
        break
    print('Computing 2 in the power of ', i, ': ',2**i)

Computing 2 in the power of  0 :  1
Computing 2 in the power of  1 :  2
Computing 2 in the power of  2 :  4
Computing 2 in the power of  3 :  8
Computing 2 in the power of  4 :  16
Computing 2 in the power of  5 :  32
Computing 2 in the power of  6 :  64
Computing 2 in the power of  7 :  128
Computing 2 in the power of  8 :  256

It is important to remember that whitespace and identation are obligatory in python

In [152]:
for i in range(10):
print('Computing 2 in the power of ', i, ': ',2**i)

IndentationError: expected an indented block (1369557407.py, line 2)

We can also have nested `for` loops

In [153]:
for i in range(1,6):
    for j in range(6,11):
        print('The sum of ', i, 'and ', j, 'is ', i + j)

The sum of  1 and  6 is  7
The sum of  1 and  7 is  8
The sum of  1 and  8 is  9
The sum of  1 and  9 is  10
The sum of  1 and  10 is  11
The sum of  2 and  6 is  8
The sum of  2 and  7 is  9
The sum of  2 and  8 is  10
The sum of  2 and  9 is  11
The sum of  2 and  10 is  12
The sum of  3 and  6 is  9
The sum of  3 and  7 is  10
The sum of  3 and  8 is  11
The sum of  3 and  9 is  12
The sum of  3 and  10 is  13
The sum of  4 and  6 is  10
The sum of  4 and  7 is  11
The sum of  4 and  8 is  12
The sum of  4 and  9 is  13
The sum of  4 and  10 is  14
The sum of  5 and  6 is  11
The sum of  5 and  7 is  12
The sum of  5 and  8 is  13
The sum of  5 and  9 is  14
The sum of  5 and  10 is  15

When we don't know in advance the required number of iteration it is usually best to use a `while` loop

In [3]:
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

we can use the above commands to loop over a list

In [20]:
weights

NameError: name 'weights' is not defined

In [156]:
mean_weight = sum(weights)/len(weights)
mean_weight

19.375

In [157]:
for weight in weights:
    print(weight - mean_weight)

-6.875
-4.375
3.625
7.625

In [158]:
weights_centered = [] 
for i in range(len(weights)):
    weights_centered.append(weights[i] - mean_weight)
weights_centered

[-6.875, -4.375, 3.625, 7.625]

Below we see how we can assess the contents of a dictionary using a `for` loop

In [187]:
for key, value in my_dict.items():
    print('The key is ', key, 'and the value is ', value)

The key is  short and the value is  15
The key is  medium and the value is  25
The key is  tall and the value is  30
The key is  very_tall and the value is  50

The following pattern is educational

In [159]:
my_tuple

('white', 'pink', 'turquoise', 'dark_blue', 'white')

In [160]:
rooms = ('bathroom', 'bedroom', 'kitchen', 'living_romm','hall')

In [161]:
rooms_colour = zip(my_tuple, rooms)
rooms_colour

In [162]:
rooms_colour = list(zip(my_tuple, rooms))
rooms_colour

[('white', 'bathroom'),
 ('pink', 'bedroom'),
 ('turquoise', 'kitchen'),
 ('dark_blue', 'living_romm'),
 ('white', 'hall')]

Below we unpack the tuple

In [163]:
for colour, room in rooms_colour:
    print(colour, room)

white bathroom
pink bedroom
turquoise kitchen
dark_blue living_romm
white hall

### List Comprehensions

A pythonic way of executing a loop. The following shows list comprehensions

In [164]:
[i**2 for i in range(6)]

[0, 1, 4, 9, 16, 25]

We can include `if` statements as shown below

In [165]:
[i**2 for i in range(6) if i != 0]

[1, 4, 9, 16, 25]

We might also want to have a conditional for the return value

In [166]:
[i**2 if i > 3 else 0 for i in range(6) if i != 0]

[0, 0, 0, 16, 25]

Nested loops are also possible. Though if you need to nest more than two loops I would not suggest a list comprehension as the code starts to become difficult to read

In [167]:
[i*j for i in range(5) for j in range(6,11) if i != 0 and j != 0]

[6, 7, 8, 9, 10, 12, 14, 16, 18, 20, 18, 21, 24, 27, 30, 24, 28, 32, 36, 40]

Dictionary comprehensions follow the same pattern with the only difference being the `{}` and the need to define a key

In [168]:
{color: color.upper() for color in my_dict}

{'short': 'SHORT',
 'medium': 'MEDIUM',
 'tall': 'TALL',
 'very_tall': 'VERY_TALL'}

Similarly we can have set comprehensions

In [169]:
quote = 'To be or not to be'
{letter for letter in quote if letter in 'aeoiu'}

{'e', 'o'}

## Packages

A way to organize functions. Main strength of Python with thousands of packages available

In [17]:
import numpy as np

In [18]:
from numpy import array

In [23]:
np_weights = np.array(weights)
np_weights.sum()

105.4

In [24]:
array(weights).sum()

105.4

Throughout this course we will use several packages like the `numpy`, `pandas`, `matplotlib` and `seaborn`

## Exercises

### Exercise 1 - Basics

* Create a variable called 'name' including your first name. Change it to upper case. Join your last name and assign the result to a variable of your choice. Join the first name and last name separated by an underscore
* Create a list containing numbers from 11-20
* Add to the previous list numbers ranging from 100 - 109 and give the new list a name of your choice. Extract the last five numbers
* Create two lists with numbers ranging from 1 to 10 and form 11 - 20 respectively. Assign the variable name `a` to the first list and the name `b` to the second. Swap the names so that `b` points to the first list and `a` to the second. This task should be accomplished without hard coding the lists from scratch.
* Create the following list `actor_names = ['Daniel Radcliffe', 'Rupert Grint', 'Emma Watson', 'Tom Felton']`. Swap the list names at the beginning and second last positions. As in the previous question this task should be accomplished without hard coding the list from scratch.
* Create a list containing the numbers 15-20, 17, 21, 16 and the strings 'day', 'night', 'midnight', 'afternoon','morning', 'night'. Remove the duplicate values.
* From the following lists create a dictionary where the first list will be the keys and the second the values list_1 = ['n_estimators', 'max_features', 'min_samples_leaf', 'oob_score'] and list2 = [1000,10,5,False]. Name the dictionary ML_params. Update the dictionary with the key `lambda` and the value `1`. Check whether the key 'oob_score' exists and retrieve it's value. Check whether the key `learning_rate` exists using a default value of `0` in case it doesn't exist.

### Exercise 2 - Functions

* Write a function that takes as argument your name and returns `Welcome` and the name you used. Use a default name of your choice.
* Write a function that takes as arguments two numbers. The fucntion should check whether by subtracting the 2nd number from the first is positive and in that case return 1. Otherwise it should return 0. If both numbers are the same it should return `Equal numbers`. 
* Create a list containing numbers from 1 to 100. Create a function that filters out odd numbers. Remove the odd numbers from your list.
* Create a function that takes an integer as argument and return it's factorial. E.g the factorial of 3 is 1x2x3=6, the factorial of 0 is 1.

### Exercise 3 - Loops, list comprehensions

* Create a list containing numbers from 100 - 200. Calculate the mean of the list. Loop along the list and subtract the mean value from each list element.
* Write a loop that shows every even number up to 100.
* Write a loop that goes through a range of integers starting from `1` and incrementing by `1` and returns the square of the respective number as long as the value is less than 300.
* Use a loop format to estimate the difference between a range of numbers from 0 to 100 and a corresponding range of numbers from 100 to 0. E.g  0 - 100, 1 - 99, 2 - 98 etc.
* Write a list comprehension that goes through each string of the following list and prints the ones longer than five characters. `fellowship = ['frodo', 'gandalf', 'elrond','samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']`.
* Write a list comprehension that goes through the following list of numbers and prints 1 if the respective number is positive or 0 otherwise.
* Write a function that checks whether a character is a consonant. Then use the function in a list comprehension to print the consonants of the following sentence `It was only thanks to the mounted guardrails and safety nets that we could walk the 6km-long trail`.

### Bonus exercise - Ceasar Cipher

Caesar was sending his generals encrypted messages. The encryption method involved the following:
    
    * Shift each letter by a pre-specified number of letters
    * If the shift goes beyond the end of the alphabet we rotate back to the beginning of the alphabet
    
E.g let's say that the shift would equal 3.

Then `a` would become a `d`.

If we have a `z` it will become a `c`

For this exercise you will need the following buit-in functions:
    
 1. `ord` takes a Unicode character and returns the integer that is used to represent that character. E.g if we type `ord('a')` we would get `97`.
 
 2. `chr` performs the opposite. If we provide an integer we would get back the Unicode character. E.g. if we type `chr(97)` we will get back `a`.
 
 3. Easier to start with a function that encrypts a single character.
 
 4. The `map` function or a list comprehension could be handy to test your function in a text.
 

Test your solution with the following:
 
`message = "This message is highly classified"` 
 
 
 For your convenience below is the alphabet:
 
 `alphabet = 'abcdefghijklmnopqrstuvwxyz'`
 
 In case you have time you can try to write a function that will decrypt the message.