## Exercises

### Exercise 1 - Basics

* Create a variable called `first_name` including your first name. Change it to upper case. Join your last name and assign the result to a variable of your choice. Join the first name and last name separated by an underscore. Get character length of the latter.
* Create a list containing numbers from `11-20`.
* Add to the previous list numbers ranging from `100 - 109` and give the new list a name of your choice. Extract the last five numbers.
* Create two lists with numbers ranging from 1 to 10 and form 11 - 20 respectively. Assign the variable name `a` to the first list and the name `b` to the second. Swap the names so that `b` points to the first list and `a` to the second. This task should be accomplished without hard coding the lists from scratch.
* Create the following list `actor_names = ['Daniel Radcliffe', 'Rupert Grint', 'Emma Watson', 'Tom Felton']`. Swap the list names at the beginning and second last positions. As in the previous question this task should be accomplished without hard coding the list from scratch.
* Create a list containing the numbers `15-20, 17, 21, 16` and the strings `'day', 'night', 'midnight', 'afternoon','morning', 'night'`. Remove the duplicate values.
* From the following lists create a dictionary where the first list will be the keys and the second the values `list_1 = ['n_estimators', 'max_features', 'min_samples_leaf', 'oob_score']` and `list2 = [1000,10,5,False]`. Name the dictionary ML_params. Update the dictionary with the key `lambda` and the value `1`. Check whether the key 'oob_score' exists and retrieve it's value. Check whether the key `learning_rate` exists using a default value of `0` in case it doesn't exist.

Create a variable called `first_name` with your first name. Change it to upper case. Join your last name and assign the result to a variable of your choice. Join the first name and last name separated by an underscore. Get character length of the latter.

In [1]:
first_name = 'Christos'
print(first_name.upper())
last_name = 'Palaiokostas'
full_name = first_name + last_name
print(full_name)
print("_".join([first_name,last_name]))
len("_".join([first_name,last_name]))

CHRISTOS
ChristosPalaiokostas
Christos_Palaiokostas

21

Create a list containing numbers from `11-20`.

In [2]:
list(range(11,21))

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Add to the previous list numbers ranging from `100 - 109` and give the new list a name of your choice. Extract the last five numbers.

In [3]:
my_numbers = list(range(11,21)) + list(range(100,110))
print(my_numbers)
my_numbers[-5:]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109]

[105, 106, 107, 108, 109]

Create two lists with numbers ranging from 1 to 10 and from 11 - 20 respectively. Assign the variable name `a` to the first list and the name `b` to the second. Swap the names so that `b` points to the first list and `a` to the second. This task should be accomplished without hard coding the lists from scratch.

In [4]:
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
b = list(range(11,21))
b

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
b, a = a, b

In [7]:
a

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Create the following list `actor_names = ['Daniel Radcliffe', 'Rupert Grint', 'Emma Watson', 'Tom Felton']`. Swap the list names at the beginning and second last positions. As in the previous question this task should be accomplished without hard coding the list from scratch.

In [9]:
actor_names = ['Daniel Radcliffe', 'Rupert Grint', 'Emma Watson', 'Tom Felton']

In [10]:
actor_names[0], actor_names[-2] = actor_names[-2], actor_names[0]
actor_names

['Emma Watson', 'Rupert Grint', 'Daniel Radcliffe', 'Tom Felton']

Create a list containing the numbers `15-20, 17, 21, 16` and the strings `'day', 'night', 'midnight', 'afternoon','morning', 'night'`. Remove the duplicate values.

In [11]:
my_list = list(range(15,21)) + ['day', 'night', 'midnight', 'afternoon', 'morning', 'night']
print(my_list)
list(set(my_list))

[15, 16, 17, 18, 19, 20, 'day', 'night', 'midnight', 'afternoon', 'morning', 'night']

['day', 'night', 'morning', 15, 16, 17, 18, 19, 20, 'midnight', 'afternoon']

From the following lists create a dictionary where the first list will be the keys and the second the values `list_1 = ['n_estimators', 'max_features', 'min_samples_leaf', 'oob_score']` and `list2 = [1000,10,5,False]`. Name the dictionary ML_params. Update the dictionary with the key `lambda` and the value `1`. Check whether the key 'oob_score' exists and retrieve it's value. Check whether the key `learning_rate` exists using a default value of `0` in case it doesn't exist.

In [12]:
list_1 = ['n_estimators', 'max_features', 'min_samples_leaf', 'oob_score']
list_2 = [1000,10,5,False]
ML_params = dict(zip(list_1,list_2))
ML_params

{'n_estimators': 1000,
 'max_features': 10,
 'min_samples_leaf': 5,
 'oob_score': False}

In [13]:
ML_params.update({'lambda':1})
ML_params

{'n_estimators': 1000,
 'max_features': 10,
 'min_samples_leaf': 5,
 'oob_score': False,
 'lambda': 1}

In [14]:
ML_params.get('oob_score')

False

In [15]:
ML_params['oob_score']

False

In [16]:
ML_params['learning_rate']

KeyError: 'learning_rate'

In [17]:
ML_params.get('learning_rate')

In [18]:
ML_params.get('learning_rate') is None

True

In [19]:
ML_params.get('learning_rate',0)

0

### Exercise 2 - Functions

* Write a function that takes as argument your name and returns `Welcome` and the name you used. Use a default name of your choice.
* Write a function that takes as arguments two numbers. The function should check whether by subtracting the 2nd number from the first is positive and in that case return `1`. Otherwise it should return `0`. If both numbers are the same it should return `Equal numbers` .
* Create a list containing numbers from 1 to 100. Create a function that filters out odd numbers. Remove the odd numbers from your list. Perform the same task using list comprehension.
* Create a function that takes an integer as argument and return it's factorial. E.g the factorial of 3 is 1x2x3=6, the factorial of 0 is 1.

Write a function that takes as argument your name and returns `Welcome` and the name you used. Use a default name of your choice.

In [20]:
def greetings(x='George'):
    return 'Welcome ' + x

In [21]:
greetings()

'Welcome George'

In [22]:
greetings('Christos')

'Welcome Christos'

Write a function that takes as arguments two numbers. The function should check whether by subtracting the 2nd number from the first is positive and in that case return `1`. Otherwise it should return `0`. If both numbers are the same it should return `Equal numbers` .

In [23]:
def num_comparison(x,y):
    if x - y > 0:
        return 1
    elif x - y < 0:
        return 0
    else:
        return 'Equal numbers'

In [24]:
num_comparison(20, 10)

1

In [25]:
num_comparison(2.3,4)

0

In [26]:
num_comparison(5,5)

'Equal numbers'

Create a list containing numbers from 1 to 100. Create a function that filters out odd numbers. Remove the odd numbers from your list. Perform the same task using list comprehension.

In [27]:
my_numbers = list(range(1,101))
my_numbers

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [28]:
def only_even(x):
    if x % 2 == 0:
        return x

only_even(2)

2

In [29]:
list(filter(only_even, my_numbers))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

Another approach

In [30]:
[i for i in my_numbers if i % 2 == 0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

Create a function that takes an integer as argument and return it's factorial. E.g the factorial of 3 is 1x2x3=6, the factorial of 0 is 1.

In [31]:
def my_factorial(x):
    if x < 0:
        print("Need a positive number")
    elif x < 1:
        return 1
    else:
        return x * my_factorial(x-1)

In [32]:
my_factorial(-1)

Need a positive number

In [33]:
my_factorial(0)

1

In [34]:
my_factorial(1)

1

In [35]:
my_factorial(4)

24

### Exercise 3 - Loops, list comprehensions

* Create a list containing numbers from 100 - 150. Calculate the mean of the list. Loop along the list and subtract the mean value from each list element.
* Write a loop that shows every even number up to 100.
* Write a loop that goes through a range of integers starting from `1` and incrementing by `1` and returns the square of the respective number as long as the value is less than 300.
* Use a loop format to estimate the difference between a range of numbers from 1 to 10 and a corresponding range of numbers from 10 to 1. E.g  1 - 10, 1 - 9, 1 - 8 etc.
* Write a list comprehension that goes through each string of the following list and prints the ones longer than five characters. `fellowship = ['frodo', 'gandalf', 'elrond','samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']`.
* Write a list comprehension that goes through the following list of numbers and prints 1 if the respective number is positive or 0 otherwise. ` random_numbers = [-2.3, 7, 19, -5, 8, 3, 19.8, -3.2, -5, 7.5, 27, 26.5, -16, 21, -9.9, -1, -12, 30, -10, -28]`.
* Write a function that checks whether a character is a consonant. Then use the function in a list comprehension to print the consonants of the following sentence `It was only thanks to the mounted guardrails and safety nets that we could walk the 6km-long trail`. You will need the built-in string method `isalpha` that checks whether a character is an alphabetic string.

Create a list containing numbers from 100 - 150. Calculate the mean of the list. Loop along the list and subtract the mean value from each list element.

In [36]:
my_list = list(range(100,151))
list_mean = sum(my_list)/len(my_list)
list_mean

125.0

In [37]:
len(my_list)

51

In [38]:
my_result = []
for i in my_list:
    my_result.append(i-list_mean)
my_result

[-25.0,
 -24.0,
 -23.0,
 -22.0,
 -21.0,
 -20.0,
 -19.0,
 -18.0,
 -17.0,
 -16.0,
 -15.0,
 -14.0,
 -13.0,
 -12.0,
 -11.0,
 -10.0,
 -9.0,
 -8.0,
 -7.0,
 -6.0,
 -5.0,
 -4.0,
 -3.0,
 -2.0,
 -1.0,
 0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0]

Write a loop that shows every even number up to 100.

In [39]:
for i in range(1,101):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

Write a loop that goes through a range of integers starting from `1` and incrementing by `1` and returns the square of the respective number as long as the value is less than 300.

In [40]:
result = 1
j = 1
while result < 300:
    print(result)
    j += 1
    result = j**2

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289

Use a loop format to estimate the difference between a range of numbers from 1 to 10 and a corresponding range of numbers from 10 to 1. E.g  1 - 10, 1 - 9, 1 - 8 etc.

In [41]:
list_1 = list(range(1,11))
list_2 = list(range(10,0,-1))

In [42]:
for i in list_1:
    for j in list_2:
        print(i - j)

-9
-8
-7
-6
-5
-4
-3
-2
-1
0
-8
-7
-6
-5
-4
-3
-2
-1
0
1
-7
-6
-5
-4
-3
-2
-1
0
1
2
-6
-5
-4
-3
-2
-1
0
1
2
3
-5
-4
-3
-2
-1
0
1
2
3
4
-4
-3
-2
-1
0
1
2
3
4
5
-3
-2
-1
0
1
2
3
4
5
6
-2
-1
0
1
2
3
4
5
6
7
-1
0
1
2
3
4
5
6
7
8
0
1
2
3
4
5
6
7
8
9

Write a list comprehension that goes through each string of the following list and prints the ones longer than five characters. `fellowship = ['frodo', 'gandalf', 'elrond','samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']`.

In [43]:
fellowship = ['frodo', 'gandalf', 'elrond','samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']
[name for name in fellowship if len(name) > 5]

['gandalf', 'elrond', 'samwise', 'aragorn', 'legolas', 'boromir']

Write a list comprehension that goes through the following list of numbers and prints 1 if the respective number is positive or 0 otherwise. ` random_numbers = [-2.3, 7, 19, -5, 8, 3, 19.8, -3.2, -5, 7.5, 27, 26.5, -16, 21, -9.9, -1, -12, 30, -10, -28]`.

In [44]:
random_numbers = [-2.3, 7, 19, -5, 8, 3, 19.8, -3.2, -5, 7.5, 27, 26.5, -16, 21, -9.9, -1, -12, 30, -10, -28]
[1 if i > 0 else 0 for i in random_numbers]

[0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0]

Write a function that checks whether a character is a consonant. Then use the function in a list comprehension to print the consonants of the following sentence `It was only thanks to the mounted guardrails and safety nets that we could walk the 6km-long trail`. You will need the built-in string method `isalpha` that checks whether a character is an alphabetic string.

In [45]:
def check_consonant(letter):
    vowels = 'aeiou'
    return letter.isalpha() and letter.lower() not in vowels

In [46]:
my_text = 'It was only thanks to the mounted guardrails and safety nets that we could walk the 6km-long trail'
[i for i in my_text if check_consonant(i)]

['t',
 'w',
 's',
 'n',
 'l',
 'y',
 't',
 'h',
 'n',
 'k',
 's',
 't',
 't',
 'h',
 'm',
 'n',
 't',
 'd',
 'g',
 'r',
 'd',
 'r',
 'l',
 's',
 'n',
 'd',
 's',
 'f',
 't',
 'y',
 'n',
 't',
 's',
 't',
 'h',
 't',
 'w',
 'c',
 'l',
 'd',
 'w',
 'l',
 'k',
 't',
 'h',
 'k',
 'm',
 'l',
 'n',
 'g',
 't',
 'r',
 'l']

### Bonus exercise - Ceasar Cipher

Caesar was sending encrypted messages to his generals. The encryption method is as follows:
    
    * Shift each letter by a pre-specified number of letters
    * If the shift goes beyond the end of the alphabet we rotate back to the beginning of the alphabet
    
E.g let's say that the shift is equal to 3.

Then `a` would become a `d`.

If we have a `z` it will become a `c`

For this exercise you will need the following buit-in functions:
    
 1. `ord` takes a Unicode character and returns the integer that is used to represent that character. E.g if we type `ord('a')` we would get `97`.
 
 2. `chr` performs the opposite. If we provide an integer we would get back the Unicode character. E.g. if we type `chr(97)` we will get back `a`.
 
 3. Easier to start with a function that encrypts a single character.
 
 4. The `map` function or a list comprehension could be handy to test your function in a text.
 

Test your solution with the following:
 
`message = "This message is highly classified"` 
 
 
 For your convenience below is the alphabet:
 
 `alphabet = 'abcdefghijklmnopqrstuvwxyz'`
 
 In case you have time you can try to write a function that will decrypt the message.

In [ ]:
def caesar_encrypt(character,shift=3):
    """
    Encrypt a single character by shifting it

    Args:
        character (char): A character
        shift (int): An integer

    Returns:
        A single character shifted
    """
    character = character.lower()
    alphabet = 'abcdefghijklmnopqrstuvwxyz'
    if character not in alphabet:
        return character
    r_char_pos = ord(character) + shift
    if (r_char_pos >= ord(alphabet[0])) & (r_char_pos <= ord(alphabet[-1])):
        return chr(r_char_pos)
    elif r_char_pos < ord(alphabet[0]):
        return chr(r_char_pos + len(alphabet))
    else:
        return chr(r_char_pos - len(alphabet))

In [ ]:
help(caesar_encrypt)

In [ ]:
def caesar_decrypt(character, shift=3):
    """
    Decrypt a single character by shifting it

    Args:
        character (char): A character
        shift (int): An integer

    Returns:
        A single character shifted
    """
    character = character.lower()
    alphabet = 'abcdefghijklmnopqrstuvwxyz'
    if character not in alphabet:
        return character
    orig_char_pos = ord(character) - shift
    if (orig_char_pos) >= ord(alphabet[0]):
        return chr(orig_char_pos)
    else:
        orig_char_pos = orig_char_pos + len(alphabet)
        return chr(orig_char_pos)

In [ ]:
caesar_encrypt('y',1)

In [ ]:
caesar_encrypt('a',-1)

In [ ]:
message = "This message is highly classified"

In [ ]:
encrypted_message = "".join(map(caesar_encrypt,message))
encrypted_message

In [ ]:
"".join(map(lambda x: caesar_decrypt(x,3), encrypted_message)).capitalize()